---
layout: archive
author_profile: true
header:
  image: "waterfront.jpg"
  caption: "Photo by [Derrick L. Garret](https://www.flickr.com/photos/dlgarrett/25367473021/in/photolist-EDCVWv-wUMek-EsWFsz-eASJdK-5FDk3o-nJ1N7q-79ESt5-bURAAa-eDTqKz-dbqdf-fqSQLZ-fHSm3k-jzuXF-fGdcbi-aKLYJB-5dfzb6-pV9owq-co3iPj-xL4Wka-22Luq-fpm385-8grTee-fBBm1Y-fHkhjY-6aUps7-bUzgYB-8e8ina-fQ46U9-e4XbPz-d7jxKw-aXKg9n-e7jxig-aKLYrt-re3jc7-dKvwU-dDAEd2-amJwtD-dgdGyz-yDoFnb-q3aZkT-cD41P-9VnCv8-qPahg1-fvGMbQ-77eEHT-fnjriA-fv68Rs-g3Np3z-dMUFWB-fTJdWx/)"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
